body{
    margin: 0%;
    padding-top: 0%;
    background-color: #141414;
    font-family: Arial, Helvetica, sans-serif;

}

.h2{
    color: aliceblue;
    font-size: 25px;
}

.row{
    /* background-color: rgb(255, 66, 19); */
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    position:relative;
    top: -230px;
}

.row_poster{
    height: 120px;
    width: 100%;
    /* background-color: aqua; */
    margin-right: 10px;
    object-fit: contain;
    
}

.row_posters{
    display: flex;
    /* background-color: blueviolet; */
    overflow-x: scroll;
    

}

.row_posters::-webkit-scrollbar{
    display: none;
}

.banner{

    background-image: url('./images/banner_img.jpeg');
    background-size: cover;
    height: 100vh;
    width: ;
    background-position: center center;
    object-fit: contain;



}

.banner-fadeBottom{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20.4rem;
    background-image: linear-gradient(180deg, transparent,rgba(37,37,37,0.8),#111);

}

.banner-contents {
    height: 198px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25%;
    padding-left: 20px;

}

.banner-buttons{
    display: flex;
}

.banner-button {
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
    margin-left: 20px;
    margin-right: 1rem;
    text-align: center;
    font-weight: 700;
    border-radius: .2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: .5rem;
    padding-bottom: .5rem ;
    background-color: rgba(51,51,51,0.5);
    height: 40px;
    width: 35%;
}

.banner-title{
    color: white;
    font-size: 3.5rem;
    
}

.nav {
    padding-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 3;

}

.logo{
    height: 40px;
    max-width: 120px;
    margin-right: 35px;
    margin-left: 10px;

}

.nav-items{
    display: flex;
    color: white;

}

.nav-item{
    margin-right: 25px;


}

.avatar{
    height: 50px;
    width: 50px;

}